.grid-wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.grid-wrapper1 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

.grid-wrapper2 {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

.grid-box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}