/*Adding the first Grid Wrapper*/


.grid-wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background: transparent;
  color: #000;
}

/*Grid Wrappers 1*/

.grid-wrapper1 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  color: #000;
}

/*Grid Wrappers 2*/

.grid-wrapper2 {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  color: #000;
}

/*Grid Boxes*/

.grid-box {
  background-image: url("../images/bitcoin.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}

.grid-box2 {
  background-image: url("../images/doge.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}

.grid-box3 {
  background-image: url("../images/eth.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}

.grid-box4 {
  background-image: url("../images/shib.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}

.grid-box5 {
  background-image: url("../images/xrp.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}

.grid-box6 {
  background-image: url("../images/lite.jpg");
  background-repeat: no-repeat;
  color: #000;
  border-radius: 5px;
  padding: 34px;
  font-size: 150%;
}
