/*Get the navigation layout going*/
.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 22px;
  list-style: none;
  margin: 0;
  background: rgba(255, 255, 255, 0.774);
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  font-weight: bold;
}

.navigation a:hover {
  background: #1565c0;
}

.navigation a:active {
  background: #1565c0;
}

/*Doing the media query*/
@media all and (max-width: 800px) {
  .navigation {
      justify-content: space-around;
  }
}

/*Doing the media query*/
@media all and (max-width: 600px) {
  .navigation {
      flex-flow: column wrap;
      padding: 0;
  }
  .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
      border-bottom: none;
  }
}