@import "layout.css";
@import "nav.css";
@import "footer.css";
@import "grid.css";


.header {
  background: transparent ;
}

.side {
  color: white;
}

.main-image {
  background-image: url("../images/80-808169_stock-market-wallpaper-hd.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main {
  text-align: left;
  background: rgba(255, 255, 255, 0.882);
  color: #000;
}

.card {
    text-align: left;
    background: rgba(255, 255, 255, 0.582);
    color: #000;
    width: 200px;
    padding: 10px 20px;
}

.card2 {
  text-align: left;
  background: rgba(255, 255, 255, 0.582);
  color: #000;
  width: 300px;
  padding: 10px 20px;
}

.main-2 {
  text-align: left;
  background: rgba(255, 255, 255, 0.882);
  color: #000;
}

.aside-1 {
  background: rgb(2, 126, 22);
}

.aside-2 {
  background: rgb(20, 0, 201);
}

.pocket {
  color: white;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 2; } 
  .main    { order: 1; }
  .aside-2 { order: 3; }
  .footer  { order: 5; }
  .main-2  { order: 4; }
}

@media all and (max-width: 1099px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 3; } 
  .main    { order: 1; }
  .aside-2 { order: 4; }
  .footer  { order: 5; }
  .main-2  { order: 2; }
}

body {
  padding: 2em; 
}

textarea {
  width: 300px;
  height: 150px;
}